{% extends 'base.html' %}

{% block 'titulo' %} Dashboard {% endblock %}

{% block 'content' %} 
    <div class="container">
        <h2 class="mb-3 mt-3">{{ user.first_name }} {{ user.last_name }}</h2>

        {% include 'partials/_messages.html' %}
       
        <p>seu nome de usuário é: {{ user.username }}</p>

        <form method="POST" action="{% url 'dashboard' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            <table class="table">
                {{ form }}
            </table>
            <button type="submit" class="btn btn-success">Alterar</button>
        </form>
    </div>
{% endblock %}
