{% extends 'base.html' %}

{% block 'titulo' %} Agenda {% endblock %}

{% block 'style' %} 
    <style>
        body {
            background-color: rgba(245, 245, 245, 0.5);
        }

        .main a {
            text-decoration: none;
        }

        .main a:hover {
            text-decoration: underline;
        }

        tbody td { 
            padding: 12px !important;
        }
    </style>
{% endblock %}

{% block 'content' %} 
    {% include 'partials/_header.html' %}

    <div class="container main mt-5">
        {% include 'partials/_messages.html' %}

        <form method="get" action="{% url 'search_contact' %}">
            <div class="form-group row">
                <div class="col-12">
                    <input type="search" class="form-control" name="term"
                    value="{{ request.GET.term }}" placeholder="Digite sua pesquisa">
                </div>
            </div>
        </form>
        
        <br>
        
        {% if contatos %}
            <h2>Meus contatos</h2>
            <hr>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Sobrenome</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Categoria</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for contato in contatos %}
                            <tr>
                                <td>{{ contato.id }}</td>
                                <td><a href="{% url 'detalhes_contato' contato.id %}">{{ contato.nome_contato }}</a></td>
                                <td>{{ contato.sobrenome_contato }}</td>
                                <td>{{ contato.telefone_contato }}</td>
                                <td>{{ contato.categoria_contato }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% for page in contatos.paginator.page_range %}
                        <li class="page-item {% if contatos.number == page %} active {% endif %}">
                            <a class="page-link" 
                                href="?page={{ page }}{% if request.GET.term is not None %}&term={{ request.GET.term }}{% endif %}">
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% else %}
            <h2>Nenhum contato adicionado</h2>
            <p><a href="{% url 'dashboard' %}">adicionar um contato</a></p>
        {% endif %}
    </div>
{% endblock %}
